<%- include('./partials/head') %>

<header><a href="https://github.com/lisavanmansom"><%= github_handle %></a></header>
<main>
  
<section class="frame-1">
  <h1><%= name %></h1> <h1><%= surname %></h1>
  <h2>keep calm and carry on</h2>
</section>

<section class="frame-2">
  <div class="gradient-window"><p>gradient</p></div>
  <article><p>docs</p><h3><%= name %> <%= surname %></h3><p><%= email %> <%= phone_number %></p></article>
  <div class="img-window"><p>images</p><img src="/images/IMG_0443.png" alt="Lisa van Mansom" width="150"></div>
  <article><p>docs</p><div><h4>Likes</h4><p>Concerten, boeken, tekenen, opera, dirty chai haver, Radiohead, Pinot Griggio, Fresh (film), bibimbap, Inhaler, Alice in borderland</p><h4>Dislikes</h4><p>Visgerechten, regen, wind, sneeuw, insecten, techno, langzame reacties, monopoly</p></div></article>
  <div class="download-window"><p>Dowloads</p><div></div><div></div><p>downloading clockworkorange...</p></div>
  <div class="quote-window-1"><p>docs</p><p>Live</p></div><div class="quote-window-2"><p>docs</p><p>Laugh</p></div> <div class="quote-window-3"><p>docs</p><p>Love</p></div>

  
</section>
</main>
  <footer></footer>


<%- include('./partials/foot') %>
